extends ../layout

block content
  .mdl-layout.mdl-js-layout
    form#login-conatiner.mdl-card.mdl-shadow--16dp(method='POST')
      .mdl-card__supporting-text
        #login-fab.mdl-color--accent.mdl-color-text--white
          i#lock-icon.material-icons lock
        #card-heading
          | User Login
        input(type='hidden', name='_csrf', value=_csrf)
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#email.mdl-textfield__input(type='email', name='email', autofocus)
          label.mdl-textfield__label(for='email') Email
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#password.mdl-textfield__input(type='password' name='password')
          label.mdl-textfield__label(for='password') Password
        button.login-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored.mdl-color-text--white(type='submit')
          | Login
        .button-content
          a.login-button.login-button-fb.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored.mdl-color-text--white(href='/auth/facebook')
            | Login with facebook
      .mdl-card__actions
        a.mdl-button.mdl-js-button.mdl-button--primary(href='/signup') Register
        a#forgotpassword.mdl-button.mdl-js-button.mdl-button--primary(href='/forgot') Forgot Password

