if messages.errors
  for error in messages.errors
    .mdl-js-snackbar.mdl-snackbar.mdl-snackbar--active
      div.mdl-snackbar__text= error.msg
      button.mdl-snackbar__action(type="button")
if messages.info
  for info in messages.info
    .mdl-js-snackbar.mdl-snackbar.mdl-snackbar--active
      div.mdl-snackbar__text= info.msg
      button.mdl-snackbar__action(type="button")
if messages.success
  for success in messages.success
    .mdl-js-snackbar.mdl-snackbar.mdl-snackbar--active
      div.mdl-snackbar__text= success.msg
      button.mdl-snackbar__action(type="button")
