
header.custom-header.mdl-layout__header.mdl-layout__header--waterfall
  .mdl-layout__header-row
    // Title
    span.mdl-layout-title Kogentix
    // Add spacer, to align navigation to the right
    .mdl-layout-spacer
    // Navigation. We hide it in small screens.
    nav.mdl-navigation.mdl-layout--large-screen-only
      a.mdl-navigation__link(href='/') Home
      if user
        a.mdl-navigation__link(href='/api') API Examples
        a.mdl-navigation__link(href='/contact') Contact
        if user.profile.picture
          img(src=user.profile.picture, alt=(user.profile.name || user.email || user.id))
        else
          img(src=user.gravatar(60), alt=(user.profile.name || user.email || user.id))
        span= user.profile.name || user.email || user.id
        a(href='/account') My Account
        a(href='/logout') Logout
      else
        a.mdl-navigation__link(href='/login') Login
        a.mdl-navigation__link(href='/signup') Create Account

.mdl-layout__drawer
  span.mdl-layout-title Sidebar Menu
  nav.mdl-navigation
    a.mdl-navigation__link(href='') Link
    a.mdl-navigation__link(href='') Link
    a.mdl-navigation__link(href='') Link
    a.mdl-navigation__link(href='') Link
