extends layout

block content
  h1 eShopping
  p.lead Best offers for leading e-commerce
  hr
  .row
    each offer in offerList
      .col-sm-6
        h2 #{offer.title}
        p #{offer.description}
        p
          a.btn.btn-default(href='#{offer.link}', role='button') View details »